<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Animals</title>
</head>
<body>
    
    <%- headingContent %>
    <% favouriteAnimals.forEach(Animals => { %>
       <ul>
        <li>  <%= Animals %></li>
      
       </ul>
    <% }) %>
</body>
</html>