<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
      <h1>Weather Today!</h1>
    <form action="/submit" method="post">
        <label>City:</label>
        <input type="text" name="city" placeholder="Enter the City Name">
        <label>temperature:</label>
        <input type="text" name="temp" placeholder="Enter the Temperature">
        <label>Humidity:</label>
        <input type="text" name="humid" placeholder="Enter the Humidity Value">
        <input type="submit">
    </form>

     <h2>The city Temperature is : <%= city %></h2>
    <h2>The Temperature is : <%= temp %></h2>
    <h2>The humidity is: <%=humid  %></h2>
</body>
</html>